* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background: #F3F1FF;
}

/* ===============Header section started=============== */
header {
    width: 100%;
    background-color: #562EFF;
}

.navbar {
    width: 870px;
    height: 100px;
    display: flex;
    margin: auto;
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.header-logo h2 {
    font-weight: 500;
    padding: 15px;
}

.header-logo img {
    width: 40px;
}

.header-items {
    width: 50%;
}

.header-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items ul li {
    list-style: none;
    padding: 30px 0 30px;
}

.header-items ul li a {
    text-decoration: none;
    color: white;
}

.header-items ul li img {
    width: 50px;
}

/* ===============Header section end=============== */

/* ===============Main section started=============== */
main {
    margin: 50px 0;
}

/* ===============Players section started=============== */
.common {
    width: 870px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
}

.common h1 {
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    padding: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
    padding: 0 30px 20px;
}

.player p {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 500;
}

.player img {
    width: 56px;
}

hr {
    width: 805px;
    color: #D1D1D1;
    justify-content: center;
    margin: 0 30px;
}

/* ===============Blogs section started=============== */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.blog {
    display: flex;
    padding-left: 30px;
}

.common-padding {
    margin-bottom: 30px;
}

.blog-img img {
    width: 200px;
}

.blog-info {
    margin: 10px;
}

.blog-info h3 {
    font-size: 17px;
    font-weight: 500;
}

.blog-info p {
    color: #9F9F9F;
    font-size: 14px;
}

.blog-info span {
    color: #562EFF;
}

/* ===============Main section end=============== */

/* ===============Footer section started=============== */
footer {
    margin-bottom: 50px;
}

.courses {
    display: flex;
    justify-content: space-evenly;
}

.course {
    width: 265px;
    background-color: #f8f8f8;
    padding: 20px 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.course img {
    width: 240px;
}

.course h3 {
    font-size: 18px;
    font-weight: 500;
}

.course p {
    font-size: 14px;
    font-weight: 400;
    color: #ED6B4F;
}

.ratings {
    display: flex;
}

.fa-solid {
    color: #FFC014;
}

.empty {
    color: #A2A2A2;
}

.duration {
    color: #ff334b;
    background: #ffc8cd;
    border-radius: 25px;
    padding: 0 5px;
    margin-left: 20px;
}

/* ===============Footer section end=============== */

/* ===============Responsive section started=============== */
@media only screen and (max-width: 687px) {

    .navbar,
    .common {
        width: 100%;
    }

    .header-logo {
        width: 30%;
    }

    .header-items ul li {
        padding: 25px 7px;
    }

    .common h1 {
        padding: 0px;
    }

    .players,
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    hr {
        width: 80%;
        margin: auto;
    }

    .blog {
        flex-direction: column;
        padding: 20px 0 0 20px;
    }

    .common-padding {
        margin-bottom: 0px;
    }

    .blog-info {
        margin: 0;
    }

    .courses {
        flex-direction: column;
        padding: 10px;
    }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .navbar {
        width: 100%;
    }

    .header-logo {
        width: 40%;
    }

    .header-items ul li {
        padding: 20px 0;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    hr {
        width: 80%;
        margin: auto;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        flex-direction: column;
        padding: 10px;
    }
}

/* ===============Responsive section end=============== */